@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,700&display=swap');

:root {
    --primary-color: rgb(216,99,255);
}

body {
    font-family: 'Roboto Condensed',
        sans-serif;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}